#join-room, #create-room {
  background-image: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?dpr=0.800000011920929&auto=format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=');
  background-color: darkgrey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  /*font-family: 'Comfortaa', cursive;*/
  font-family: 'Fredoka One', cursive;

  display: flex;
  align-items: center;
  flex-direction: column;

  .error-bar{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: red;

    p{
      line-height: 40px;
      margin: 0;
      color: white;
    }
  }

  .blurred-box {
    z-index: 0;
    width: 25vw;
    min-width:290px;
    max-width: 320px;
    position: relative;
    top: 0;
    left: 0;
    background: inherit;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;

      color: #df2359;
    }
  }

  .blurred-box:after {
    z-index: -1;
    content: '';
    background: inherit;
    position: absolute;
    left: -25px;
    right: -25px;
    top: -25px;
    bottom: -25px;
    box-shadow: inset 0 0 0 500px rgba(255,255,255,0.2);
    filter: blur(10px);
  }

  .user-info-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    text-align: center;
    z-index: 1;

    color: white;
    text-shadow: -1px 0 grey, 0 1px grey;

    .user-info-form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;


      p,input {
        background: 0;
        width: 200px;
        outline: 0;
        border: 0;
        border-bottom: 2px solid rgba(255,255,255, 0.3);
        margin: 20px 0;
        padding-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        color: rgba(255,255,255, 0.8);
      }

      input::placeholder {
        color: white;
        font-family: 'Fredoka One', cursive;
      }

      input[type="submit"] {
        border: 0;
        border-radius: 8px;
        padding-bottom: 0;
        height: 60px;
        background: #df2359;
        color: white;
        cursor: pointer;
        transition: all 600ms ease-in-out;
      }

      input[type="submit"]:hover {
        background: #60B99A;
      }

      #language-list {
        background: 0;
        width: 200px;

        border: 0;
        -webkit-border-radius: 0;

        margin: 20px 0;
        padding-bottom: 10px;
        font-family: 'Fredoka One', cursive;
        font-size: 24px;
        font-weight: bold;
        color: white;
      }

      #go-back-button {
        background: 0;
        border: 0;
        border-bottom: 2px solid rgba(255,255,255, 0.3);
        color: white;
        margin: 0px 10px 10px 10px;
      }

    }

  }

}

